body {
  margin: 0;
  overflow: hidden;
}
#root > div > div:nth-child(1) {
  font-size: 0;
}

#ui {
  display: flex;
  flex-wrap: nowrap;
  flex-grow: 1;
  background: #FF0000;
  background: linear-gradient(#93291E, #ED213A);
}

#fps-meter-anchor {
  position: absolute;
  right: 123px;
  bottom: 43px;
}

#adjuster-content {
  min-width: 20vw;
  padding: 1vw;
  display: flex;
  flex-direction: column;
}

#adjuster-content > #reset-spine-adjustmens {
  align-self: flex-end;
}